extends products-layout

block content
  include sidebar.jade
  div(class="pusher")
    include menu-alt.jade

    div(class="ui vertical product segment" itemscope itemtype="http://schema.org/Product")
      div(class="ui stackable grid container")

        .five.wide.column.product-item.image-column
          each image in result.entry.fields.pictures["en-US"]["setA"]
            img.ui.fluid.image.dual-image(data-src='#{image.fields.file["en-US"].url}?q=20' data-original='#{image.fields.file["en-US"].url}?q=80' alt="#{result.entry.fields.name['en-US']}")
        .five.wide.column.product-item.image-column
          each image in result.entry.fields.pictures["en-US"]["setB"]
            img.ui.fluid.image.dual-image(data-src='#{image.fields.file["en-US"].url}?q=20' data-original='#{image.fields.file["en-US"].url}?q=80' alt="#{result.entry.fields.name['en-US']}")

        //-.ten.wide.column.product-item
          img.ui.fluid.image.main-image(itemprop="image" data-src='#{result.entry.fields.pictures["en-US"][0].fields.file["en-US"].url}?q=80' alt="#{result.entry.fields.name['en-US']}")
          .thumbnails
            .ui.tiny.images
              each image in result.entry.fields.pictures["en-US"]
                a(href='#')
                  img.thumb.alternative-image(data-src='#{image.fields.file["en-US"].url}?q=20' data-original='#{image.fields.file["en-US"].url}?q=80' alt="#{result.entry.fields.name['en-US']}")

        .six.wide.column
          h1(itemprop="name").centered-text
            | #{result.entry.fields.name['en-US']}
          h3.price(id='price').centered-text
            | To display price, select options below
          if result.entry.fields.specifications
            .product-description(itemprop="description")
              | !{result.entry.fields.specifications["en-US"]}
          form.ui.form.choice(id="options-form").centered-text
            input(type="hidden" name='product-id' id="product-id" value="#{result.entry.sys.id}")
            input(type="hidden" name="product-name" id="product-name" value="#{result.entry.fields.name['en-US']}")
            if result.entry.fields.stains
              .field(id='stainsOption').prompt
                .ui.fluid.selection.dropdown
                  input(type='hidden', name='stains', id='default-stain')
                  i.dropdown.icon
                  .default.text Select Stain
                  .menu
                    each stain in result.entry.fields.stains["en-US"]
                      .item(data-value='#{stain.fields.name["en-US"]}')
                        img.ui.mini.avatar.image.circ(data-src='#{stain.fields.picture["en-US"].fields.file["en-US"].url}?q=20' alt='#{stain.fields.name["en-US"]}')
                        |#{stain.fields.name["en-US"]}
            if result.entry.fields.materials
              .field(id='materialsOption').prompt
                .ui.fluid.selection.dropdown
                  input(type='hidden', name='materials', id='default-material')
                  i.dropdown.icon
                  .default.text Select Material
                  .menu
                    each material in result.entry.fields.materials["en-US"]
                      .item(data-value='#{material.fields.name["en-US"]}' data-idd='#{material.sys.id}')
                        img.ui.mini.avatar.image.circ(data-src='#{material.fields.picture["en-US"].fields.file["en-US"].url}?q=20' alt='#{material.fields.name["en-US"]}')
                        |#{material.fields.name["en-US"]}
            if result.entry.fields.size
              .field(id='sizeOption').prompt
                .ui.fluid.selection.dropdown
                  input(type='hidden', name='size', id='default-size')
                  i.dropdown.icon
                  .default.text Select Size
                  .menu
                    each size in result.entry.fields.size["en-US"]
                      .item(data-value='#{size.fields.name["en-US"]}' data-idd='#{size.sys.id}')
                        |#{size.fields.name["en-US"]}
            .ui.hidden.negative.message(id='choice-error')
              p(id='choice-error-message')
            button.first.submit.ui.teal.basic.button(id="toggle-modal-order")
              |Order Now
            button.submit.ui.grey.basic.button(id="toggle-modal-customize")
              |Request a Custom Order

    .ui.modal(id='modal-customize')
      .header
        |Please fill out this form and we will send you an e-invoice to process your order.
      .content
        .ui.form.contact(id='customizeForm')
          .field.prompt
            label Name
            input(type='text' name='name' id='name-customize')
          .field.prompt
            label Email
            input(type='email' name='email' id='email-customize')
          .field.prompt
            label Phone
            input(type='text' name='phone' id='phone-customize')
          .field.prompt
            label Quantity
            .ui.fluid.selection.dropdown
              input(type='hidden', name='quantity', id='quantity-customize')
              i.dropdown.icon
              .default.text Select Quantity
              .menu
                .item(data-value='1')
                  |1
                .item(data-value='2')
                  |2
                .item(data-value='3')
                  |3
                .item(data-value='4')
                  |4
                .item(data-value='5')
                  |5
          .field.prompt
            label Details
            textarea(name='details' id='details-customize')
          .ui.green.submit.button(id='customize-submit') Submit
          .ui.red.cancel.button(id='customize-cancel') Cancel

    .ui.modal(id='modal-order')
      .header
        |Please fill out this form and we will send you an e-invoice to process your order.
      .content
        .ui.form.contact(id='orderForm')
          .field.prompt
            label Name
            input(type='text' name='name' id='name-order')
          .field.prompt
            label Email
            input(type='email' name='email' id='email-order')
          .field.prompt
            label Phone
            input(type='text' name='phone' id='phone-order')
          .field.prompt
            label Quantity
            .ui.fluid.selection.dropdown
              input(type='hidden', name='quantity', id='quantity-order')
              i.dropdown.icon
              .default.text Select Quantity
              .menu
                .item(data-value='1')
                  |1
                .item(data-value='2')
                  |2
                .item(data-value='3')
                  |3
                .item(data-value='4')
                  |4
                .item(data-value='5')
                  |5
          .ui.green.submit.button(id='order-submit') Submit
          .ui.red.cancel.button(id='order-cancel') Cancel

    .ui.basic.modal(id='modal-final')
      .content
        .ui.message(id='final-message')
          .header(id='final-message-text')

    include footer.jade

block scripts
  include ./includes/stylesheets.html
  include ./includes/scripts.html
